

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

.btnSubmit{
    padding: .8rem 4rem;
    margin-top: 2rem;
    border-radius: 4rem;
    border: none;
    background-color: var(--background-btn);
    color: white;
    font-weight: bolder;
    text-shadow: .1rem .1rem .5rem rgba(11, 11, 11, 0.438);
}

.btnSubmit:hover{
    background-color: var(--hover-btn);
    cursor: pointer;
}