@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

:root {
/*COLORS*/
--background-color: #59C3C3 ;
--input-color: #4f16e0; ;
--input-back: #EBEBEB;
--links-color: #7f40bb ;
--link-hover: #646cff;
--title-color: #9946a6;
--background-btn: rgb(228, 200, 61);
--hover-btn: rgb(61, 228, 70);


/*FONTS*/
--font-text: 'Source Code Pro', monospace;

/*ACCESSIBILITY*/
  font-size: 62.5%;

  line-height: 1.5;
  font-weight: 400;
  
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: var(--font-text);
}

p{
  font-size: 1.3rem;
  color: white;
}
a {
  font-weight: 700;
  color: var(--link-author);
  text-decoration: inherit;
}
p a:hover {
  color: var(--title-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1{
  margin: 1rem auto 0rem auto;
  color: white;
  text-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.64);
  font-size: 4rem;
  
}

h2{
  font-size: 1.8rem;
  color: var(--title-color);
  text-shadow: .1rem .1rem .5rem rgba(252, 249, 249, 0.403);
  margin-bottom: 6rem;
 
}

.madeBy{
  margin-top: 5rem;
}


